
/* ----------  CSS Reset  ---------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red !important;
}

body {
  background: #f4f5f6;
}

ul {
  list-style-type: none;
  background-color: white;
}

/* ----------  Psuedo Elements  ---------- */

.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.row::before,
.row::after {
  content: " ";
  display: table;
}

/* ----------  Reusable Classes  ---------- */

.jc-sb {
  justify-content: space-between;
}

.ai-fe {
  align-items: flex-end;
}

/* ----------  Header/Navbar  ---------- */

.page-header .container {
  position: relative;
  max-width: 1310px;
  background-color: red;
}

.header-top {
  height: 95px;
  align-items: flex-end;
  display: flex;
  padding: 20px 10px 15px;
  justify-content: space-between;
}

.header-top-right {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 14px;
  font-weight: 700;
}

.header-elements {
  padding: 6px 8px;
  color: white;
}

.header-subscribe div {
  background: white;
  color: black;
  padding: 6px 8px 6px 8px;
}

.header-date {
  color: white;
}

.header-middle {
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand svg {
  width: 396px;
  height: 60px;
  margin: 10px auto 0;
}

.st0 {
  fill: white;
}

.nav-small-container {
  display: none;
}

.nav-small {
  background-color: red;
  min-width: 401px;
}

.nav-small .navbar-brand {
  height: 30px;
  width: 130px;
  margin-top: -15px;
}

.scrolled {
  display: block;
}

#navbar-list {
  background-color: white;
}

/* ----------  Navbar  ---------- */

.navbar {
  overflow: hidden;
}

.nav-white-large {
  max-width: 1310px;
  margin: 0 auto;
}

.nav-form {
  border: none;
  width: 100px;
}

.navbar-nav {
  flex: 1;
}

.fa-search {
  color: black;
}

.navbar-section {
  margin: 0 auto;
  flex-grow: 1;
  max-width: 1200px;
}

.navbar-toggler-icon {
  color: white;
}

.red-shape-navbar {
  top: 0;
  right: -10px;
  height: 12px;
  width: 70px;
  transform: skew(40deg);
  background-color: red;
}

/* ----------  Main  ---------- */

.main {
  margin-top: 2px;
  background-color: white;
}

.container-fluid {
  max-width: 1310px;
}

.article-image-overlay-gradient {
  background-color: rgba(255, 255, 255, 0.6);
}

.aside-left {
  height: 1360px;
}

.aside-right {
  height: 1500px;
}

.logo-n {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  width: 29px;
  height: 28px;
}

.travel-card {
  background: #f4f5f7;
}

#travel-culture-small {
  display: none;
}

.image-side-articles {
  width: 130px;
  height: 90px;
}

.slideshow-logo {
  width: 29px;
  height: 28px;
}

.the-one-in-the-back {
  bottom: 3px;
  right: 3px;
  border: 1px solid white;
}

.slides-card {
  position: relative;
}

.slides-overlay {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  width: 70px;
  height: 52px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sign-up {
  max-width: 400px;
}

.slides-text {
  margin-bottom: -5px;
  color: red;
}

.article-category-heading {
  font-size: 22px;
  color: red;
}

.bg-black {
  background-color: black;
}

.overlay-play {
  height: 40px;
  width: 40px;
  background: red;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-play:hover {
  color: white !important;
}

/* ----------  Footer  ---------- */

.button-sub-sign {
  width: 120px;
  background-color: red !important;
  color: white !important;
}

.testiini {
  overflow: hidden;
}

.footer-top-left {
  width: 600px;
}

.footer-top-right {
  display: inline;
  font-size: 18px;
  line-height: 14px;
}

.footer-top-right .fab {
  font-size: 25px;
  color: #666;
}

.footer-brand .st0 {
  fill: red;
}

.footer-brand svg {
  height: 35px;
  width: 236px;
  margin-top: -15px;
}

/* ----------  Media Queries ---------- */

/* desktops, less than 1200px */

@media (max-width: 1065.98px) {
  .form-control {
    display: none;
  }
}

/* tablets, less than 992px */
@media (max-width: 991.98px) {
  .aside-right {
    height: 2200px;
  }

  .latest-text {
    font-size: 20px;
  }

  .page-header {
    display: none;
  }

  .nav-small-container {
    display: block;
  }
}

/* landscape phones, less than 768px */
@media (max-width: 767.98px) {
  .aside-left {
    height: 1800px;
  }

  .aside-right {
    height: 2100px;
  }

  #travel-culture-large {
    display: none;
  }

  #travel-culture-small {
    display: block;
  }

  .image-side-articles {
    width: 258px;
    height: 172px;
  }
}

/* portrait phones, less than 576px */
@media (max-width: 575.98px) {
  .aside-right {
    height: 1550px;
  }
}
